<!doctype html>
<html>
<head>
    <title>Black Bears in National Park</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style type="text/css">
        body {
            background-color: #DFE4F8;
        }
    </style>


</head>

<body>

    <p style="float: right; width: 250px; margin-left: 5px; margin-bottom: 5px;">
        <img src="~/images/bear.jpg" align="right" style="width: 100%;"> <em>Attacks on humans are rare. If you are physically attacked by a black bear, fight back aggressively with any available object--the bear may consider you as prey! Do not "play dead." Help protect others by reporting all bear incidents to a park ranger immediately. Keep your distance from bears.</em><br>
        -<em>Gary Carter Photo</em>
    </p>


    <h1>Black Bears in National Park</h1>


    <ul>
        <li><a href="#Introduction">Introduction-Black Bears</a></li>

        <li><a href="#Caution">What Do I Do If I See A Bear?</a></li>

        <li><a href="#Bears in Park">Bears in the Smokies</a></li>

        <li><a href="#Behaviour">Bear Behavior</a></li>

        <li><a href="#Care">What Can You Do To Protect Bears?</a></li>

        <li><a href="#Info">Additional Information</a></li>



    </ul>


    <h2 id="Introduction">Introduction-Black Bears</h2>

    <p>The American black bear (Ursus americanus) is a medium-sized bear native to North America.</p>

    <p>It is the continent's smallest and most widely distributed bear species. Black bears are omnivores with their diets varying greatly depending on season and location. They typically live in largely forested areas, but do leave forests in search of food. Sometimes they become attracted to human communities because of the immediate availability of food. The American black bear is the world's most common bear species.</p>

    <p>It is listed by the International Union for Conservation of Nature (IUCN) as a "least concern" species, due to its widespread distribution and a large global population estimated to be twice that of all other bear species combined. Along with the brown bear, it is one of only two of the eight modern bear species not considered globally threatened with extinction by the IUCN. American black bears often mark trees using their teeth and claws as a form of communication with other bears, a behavior common to many species of bears</p>

    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Color breakdown</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Michigan</td>
                <td>100% black</td>
            </tr>
            <tr>
                <td>Minnesota</td>
                <td>94% black, 6% brown</td>
            </tr>
            <tr>
                <td>New England</td>
                <td>100% black</td>
            </tr>
            <tr>
                <td>New York</td>
                <td>100% black</td>
            </tr>
            <tr>
                <td>Tennessee</td>
                <td>100% black</td>
            </tr>
            <tr>
                <td>Washington (coastal)</td>
                <td>99% black, 1% brown or blonde</td>
            </tr>
            <tr>
                <td>Washington (inland)</td>
                <td>21% black, 79% brown or blonde</td>
            </tr>
            <tr>
                <td>Yosemite National Park</td>
                <td>9% black, 91% brown or blonde</td>
            </tr>
            <tr>
                <td>New York</td>
                <td>100% black</td>
            </tr>
            <tr>
                <td>Tennessee</td>
                <td>100% black</td>
            </tr>
        </tbody>

    </table>

    <p>
        Warning: Bears are wild animals that are dangerous and unpredictable. Do not approach bears or allow them to approach you!<br>

        Willfully approaching within 50 yards (150 feet), or any distance that disturbs or displaces a bear, is illegal in the park. Violation of this federal regulation can result in fines and arrest. Use binoculars, telephoto lens, or a spotting scope to view the animals.
    </p>

    <hr>

    <p style="float: right; width: 350px; margin-left: 5px; margin-bottom: 5px;">
        <img src="~/images/bear3.jpg" align="right" style="width: 100%;"><em>Help keep the park's bears wild. Do not feed bears. Remember, a fed bear is a dead bear!</em> <br>
        -<em>Gary Carter Photo</em>
    </p>
    <h2> What Do I Do If I See A Bear?</h2>
    <p>Bears in the park are wild and their behavior can be unpredictable. Although extremely rare, attacks on humans have occurred, inflicting serious injuries and death. Treat bear encounters with extreme caution! <ins>Learn what to do if you see a bear by watching this short video..</ins></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qZ9GzIMGRMw" frameborder="0" allowfullscreen></iframe>

    <h3 id="Caution">What Do I Do If I See A Bear?</h3>

    <ul>
        <li>Remain watchful.</li>
        <li>Do not approach it.</li>
        <li>Do not allow the bear to approach you.</li>
        <li>If your presence causes the bear to change its behavior (stops feeding, changes its travel direction, watches you, etc.) you are too close.</li>
        <li>
            Being too close may promote aggressive behavior from the bear such as running toward you, making loud noises, or swatting the ground. The bear is demanding more space. Don't run, but slowly back away, watching the bear. Increase the distance between you and the bear. The bear will probably do the same.
        </li>
    </ul>

    <h3>If a bear persistently follows or approaches you, without vocalizing, or paw swatting:</h3>

    <ul>
        <li>Change your direction.</li>
        <li>If the bear continues to follow you, stand your ground.</li>
        <li>If the bear gets closer, talk loudly or shout at it.</li>
        <li>Act aggressively to intimidate the bear.</li>
        <li>
            Act together as a group if you have companions. Make yourselves look as large as possible (for example, move to higher ground).
        </li>
        <li>Throw non-food objects such as rocks at the bear.</li>
        <li>Use a deterrent such as a stout stick.</li>
        <li>Don't run and don't turn away from the be</li>
        <li>Don't leave food for the bear; this encourages further problems.</li>
    </ul>

    <h3>If the bear's behavior indicates that it is after your food and you are physically attacked: </h3>
    <ul>
        <li>Separate yourself from the food. </li>
        <li>Slowly back away.</li>
    </ul>


    <h3>If the bear shows no interest in your food and you are physically attacked, the bear may consider you as prey: </h3>
    <ul>
        <li>Fight back aggressively with any available object! </li>
        <li>Do not play dead! </li>
    </ul>

    <hr>

    <p style="float: right; width: 350px; margin-left: 5px; margin-bottom: 5px;">
        <img src="~/images/bear2.jpg" align="right" style="width: 100%;"> <em>Black bears are dangerous and unpredictable wild animals. Do not approach bears or allow them to approach you.</em><br>
        -<em>Gary Carter Photo</em>
    </p>

    <h2 id="Bears in Park"><strong>Bears in the Smokies</strong></h2>
    <p>Great Smoky Mountains National Park is one of the largest protected areas in the eastern United States where black bears can live in wild, natural surroundings.</p>

    <p>Bears inhabit all elevations of the park. Though populations are variable, biologists estimate that roughly 1,500 bears live in the park. This equals a population density of approximately two bears per square mile. At one time, the black bear's range included most of North America except the extreme west coast. However loss of habitat has resulted in a significant reduction in this range.</p>

    <p>Black bears in the Smokies are black in color, but in other parts of the country they may be brown or cinnamon. They may be six feet in length and up to three feet high at the shoulder. During the summer months, a typical adult male bear weighs approximately 250 pounds while adult females are generally smaller and weigh slightly over 100 pounds. However, bears may double their weight by the fall. Bears over 600 pounds have been documented in the park. Bears can live 12-15 years or more, however bears which have had access to human foods and garbage have a life expectancy of only half that time.</p>

    <p>Bears, like humans, are omnivores. Plant materials such as berries and nuts make up approximately 85% of their diet. Insects and animal carrion provide valuable sources of protein for bears. </p>

    <p>Bears have color vision and a keen sense of smell. In addition, they are good tree climbers, can swim very well, and can run 30 miles per hour.</p>

    <hr>

    <h2 id="Behaviour"><strong>Bear Behavior</strong></h2>

    <p>Bears are most active during early morning and late evening hours in spring and summer. Mating usually takes place in July. Both female and male bears may have more than one mate during the summer.</p>

    <p>Bears choose a denning site with the coming of cold weather. Dens are usually hollow stumps, tree cavities, or wherever there is shelter. Bears in the Smokies are unusual in that they often den high above the ground in standing hollow trees. Bears do not truly hibernate, but enter long periods of sleep.<br> They may leave the den for short periods if disturbed or during brief warming trends.</p>

    <p>One to four cubs are born during the mother's winter sleep, usually in late January or early February. Bears weigh eight ounces at birth.<br> Females with newly born cubs usually emerge from their winter dens in late March or early April. Commonly born in pairs, the cubs will remain with<br> the mother for about eighteen months or until she mates again.</p>

    <p>Use the interactive map below to learn more about bears in the Smokies.</p>

    <hr>
    <h2 id="Care"><strong>What Can You Do To Protect Bears?</strong></h2>

    <ol>
        <li>Dispose of all garbage or food scraps in bear proof garbage containers or take it with you.</li>
        <li>Do not feed wildlife. Feeding a bear guarantees its demise!</li>
        <li>Do not approach within 50 yards or any distance that disturbs a bear.</li>
        <li>Do not allow bears to approach you (See "What Do I Do If I See A Bear?" above).</li>
        <li>
            Use the food storage cables to store your food and garbage when camping in the backcountry.
        </li>
        <li>If you see another visitor breaking these rules, or encounter a bear in a picnic area or campground, on a trail, or in any other developed area, please call (865) 436-1230 or stop at a Visitor Center to report it.</li>

    </ol>

    <hr>
    <h2 id="Info"><strong>Additional Information</strong></h2>
    <form action="http://www.rodsguide.com/bears_find.aspx">
        <p> Want to know more ?</p>
        <p> <input type="Submit" value="click here"></p>

        <h3> To get instant Alerts & Updates Sign-Up</h3>

        <p>Like This Article !<br>Yes <input type="radio" name="opinion"> No <input type="radio" name=opinion></p>

        <p>Suscribe! <input type="checkbox" checked><input type="text" placeholder=maddyblog101@gmail.com></p>
        <p>DOB: <input type="date" placeholder="optional"></p>

        <p><a href="#top">Back to top</a></p>

    </form>
</body>
</html>
